{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NotaExpress</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
    <body>

        {% include 'header.html' %}

        {% block content %}

        {% endblock %}

        {% include 'footer.html' %}

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>