{% load static %}

<!-- Rodapé -->
<footer class="no-print">
    <p>Copyright &copy; 2024.</p>
    <p>Desenvolvido por Jonathas Oliveira. <a href="https://www.linkedin.com/in/jonathasrobison/" target="_blank">  <img src="{% static 'img/linkedin.pn' %}g" alt="linkedin"></a></p>
    <p>Linguagem de programação Python. <a href="https://docs.python.org/3/" target="_blank" rel="noopener noreferrer"> <img src="{% static 'img/python.png' %}" alt="python"></a> </p>
</footer>
<!-- Fim do rodapé -->


